/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
   
}
.pad-top {
    padding-top:60px;
}
.pad-top-more {
    padding-top:90px;
}
.text-center {
    text-align:center;
}
/*JUST ADDED PADDING IN SECTIONS OF TEMPLATE */
section {
    padding-top:50px;
}
/* ADDED PADDING IN NAVBAR */
.navbar {
    padding:25px;
     -webkit-transition: background .8s ease-out,padding .8s ease-out;
        -moz-transition: background .8s ease-out,padding .8s ease-out;
        transition: background .8s ease-out,padding .8s ease-out;
}
/* CLASS FOR REMOVING PADDING IN NAVBAR*/
.navbar-pad-original {
      padding:5px;
}
/*========================================
    NAV BAR
    ======================================*/
.navbar-inverse .navbar-nav > li > a {
color: #000;
}
.navbar-inverse {
background-color: #FFF;
border-color: #7eb9f8;
font-size: 25px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #000000;
background-color: transparent;
}
.navbar-inverse .navbar-brand {
color: #000;
font-size: 27px;
font-weight: 900;
}
.navbar-inverse:hover .navbar-brand:hover {
color: #000;
}
.navbar-toggle {
    background-color: black;
}
/*CHANGING COLOR  SCROLLSPY ON LINK ACTIVE  导航栏HOME的颜色*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #fff;
    background: linear-gradient(to bottom, #4b0082, #d3a5d0);
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/*========================================
    HOME SECTION   改变背景颜色
    ======================================*/
@keyframes backgroundImageAnimation {
    0% {
        background-image: url('images/header.jpg');
    }
    6.25% {
        background-image: url('images/pic01.jpg');
    }
    12.5% {
        background-image: url('images/pic02.jpg');
    }
    18.75% {
        background-image: url('images/pic03.jpg');
    }
    31.25% {
        background-image: url('images/pic04.jpg');
    }
    37.5% {
        background-image: url('images/pic05.jpg');
    }
    43.75% {
        background-image: url('images/pic06.jpg');
    }
    50% {
        background-image: url('images/pic07.jpg');
    }
    56.25% {
        background-image: url('images/pic08.jpg');
    }
    62.5% {
        background-image: url('images/pic09.jpg');
    }
    68.75% {
        background-image: url('images/pic10.jpg');
    }
    75% {
        background-image: url('images/pic11.jpg');
    }
    81.25% {
        background-image: url('images/pic12.jpg');
    }
    87.5% {
        background-image: url('images/pic13.jpg');
    }
    93.75% {
        background-image: url('images/pic14.jpg');
    }
    100% {
        background-image: url('images/pic15.jpg'); /* 返回到第一张图片 */
    }
}
#home {
min-height:700px;
    /*background-image: url('images/header.jpg'); !* 图片路径 *!*/
    background-size: cover; /* 确保图片覆盖整个背景 */
    background-position: center; /* 图片居中对齐 */
    background-repeat: no-repeat; /* 防止图片重复 */
    /*background-blend-mode: overlay; !* 混合模式 *!*/
    animation: backgroundImageAnimation 240s infinite; /* 动画持续时间120秒，循环播放 */
    transition: background-image 2s ease-in-out; /* 过渡效果 */
}
    #home h1,#home h3 {
        color:#fff;
        text-transform:uppercase;
    }
    #home a i {
        display:table;
        font-size:150px;
        color: #262626;

}
#home a:hover i {
    color: #ef8376; /* 鼠标悬停时颜色变为黑色 */
}
/*========================================
    ABOUT SECTION
    ======================================*/
#about {
    background-image: url('images/img_bg_4.jpg'); /* 替换为你的图片路径 */
    background-size: cover; /* 确保图片覆盖整个区域 */
    background-position: center; /* 图片居中显示 */
    background-repeat: no-repeat; /* 防止图片重复 */
    min-height: 700px;


    .img-rounded {
        border-radius: 8px; /* 圆角效果 */
        margin-bottom: 20px; /* 图片底部的间距 */
        width: 100%; /* 确保图片适应其父容器的宽度 */
    }

    .mb-4 {
        margin-bottom: 30px; /* 扩展框底部的间距，增加间距 */
    }

    .panel-group {
        margin-top: 0; /* 确保扩展框从顶部开始对齐 */
    }

    .panel {
        margin-bottom: 30px; /* 扩展框之间的间距 */
    }

    .col-md-4 {
        padding-left: 15px; /* 右侧内边距 */
        padding-right: 15px; /* 右侧内边距 */
    }

    .row {
        margin-left: -15px; /* 消除列之间的外边距 */
        margin-right: -15px; /* 消除列之间的外边距 */
    }

    .panel > .panel-heading {
        position: relative;
        padding: 15px;
    }

    .panel-title > a.collapsed:after {
        content: '+';
        position: absolute;
        right: 24px;
    }

    .panel-title > a:after {
        content: '-';
        position: absolute;
        right: 24px;

    }

    .panel {
        color: #000;
    }
}
 /*========================================
    PORTFOLIO SECTION
    ======================================*/
 

#portfolio {
    z-index: 2;
    
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.modal-body span {
    cursor:pointer;
    color:#66B8F0;
}
/*========================================
    CONTACT SECTION
    ======================================*/
#contact {
    min-height:400px;
    /*background-color: #483949; !* 这里添加背景颜色 *!*/
    }
#contact .form-control {
    height:60px;
}
.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;

}
.add {
font-size:20px;
padding:20px;
}
/*========================================
    FOOTER SECTION
    ======================================*/
#footer {

    background-color: #483949;
    color: #fff;
    padding: 20px 50px 20px 50px;
    text-align: right;
    border-top: 1px solid #7eb9f8;
}